/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .wrapper-box{
        padding: 0 15px;
    }
    .header-top-area{
        padding: 0 0px;
    }
    .header-bottom-area{
        padding-left: 0px;
        padding-right: 0px;
    }
    .main-menu ul li{
        margin-left: 25px !important;
    }
    .header-button a{
        padding: 14px 12px;
        margin-left: 25px;
    }
    .slide-img img{
        width: 100%;
    }
    .single-slider.slider-height{
        display: block;
        min-height: 600px;
    }
    .single-features{
        padding: 0;
    }
    .promotion-text{
        padding-left: 20px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .promotion-area{
        margin: 0;
        padding: 0;
    }
    .promotion-area .cta-img img{
        width: 100%;
        padding-top: 70px;
    }
    .promotion-area .promotion-text{
        padding-left: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .wrapper-box{
        padding: 0 20px;
    }
    .header-bottom-area{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .single-slider.slider-height{
        min-height: 550px;
    }
    .slider-content.slider-content-3 h1{
        font-size: 80px !important;
    }
    .single-slider.slider-height-3{
        min-height: 550px;
    }
    .slide-img img{
        width: 100%;
    }
    .single-features{
        padding: 0;
    }
    .single-features h2{
        margin-bottom: 10px;
        font-size: 25px;
    }
    .promotion-text{
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .promotion-area{
        margin: 0;
        padding: 0;
    }
    .promotion-area .cta-img img{
        width: 100%;
        padding-top: 20px;
    }
    .promotion-area .promotion-text{
        padding-left: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer-widget h3{
        font-size: 20px;
    }
    .footer-link li{
        width: 100%;
    }


}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    .wrapper-box{
        padding: 0 20px;
    }
    .header-top-area{
        padding: 0 10px;
    }
    .header-bottom-area{
        padding: 10px 10px;
    }
    .single-slider.slider-height{
        min-height: 550px;
    }
    .slider-content h1{
        font-size: 32px;
        line-height: 43px;
    }
    .slider-content p{
        padding-right: 0;
    }
    .slider-content span{
        letter-spacing: 2px;
    }
    .features-title h2{
        font-size: 36px;
    }
    .promotion-text{
        padding-left: 0;
    }
    .portfolio-menu button{
        margin: 0 2px 3px;
    }
    .cap.text-center img{
        width: 100%;
    }
    .single-brand{
        text-align: center;
    }
    .single-brand a{
        display: inline-block;
    }
    .home-3 .container{
        padding: 10px 0;
    }
    .home-3 .logo img{
        float: left;
    }
    .language-header-3{
        float: right;
    }
    .slider-content.slider-content-3 h1{
        font-size: 49px !important;
        line-height: 55px;
        margin-bottom: 5px;
    }
    .single-slider.slider-height-3{
        min-height: 550px;
    }
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
